USE [master]
GO
DROP DATABASE IF EXISTS [bookDB]
GO

CREATE DATABASE [bookDB]
GO

USE [bookDB]
GO

-- Categories Table
CREATE TABLE [dbo].[tblCategories] (
    [CategoryID] INT IDENTITY(1,1) PRIMARY KEY,
    [CategoryName] NVARCHAR(50) NOT NULL
)
GO

-- Suppliers Table
CREATE TABLE [dbo].[tblSuppliers] (
    [SupplierID] INT IDENTITY(1,1) PRIMARY KEY,
    [CompanyName] NVARCHAR(40) NOT NULL,
    [ContactName] NVARCHAR(50) NULL,
    [Country] NVARCHAR(50) NULL,
    [Phone] NVARCHAR(24) NULL,
    [HomePage] NVARCHAR(MAX) NULL
)
GO

-- Products Table
CREATE TABLE [dbo].[tblProducts] (
    [ProductID] INT IDENTITY(1,1) PRIMARY KEY,
    [ProductName] NVARCHAR(100) NOT NULL,
    [Author] NVARCHAR(100) NULL,
    [SupplierID] INT NULL,
    [CategoryID] INT NULL,
    [UnitPrice] MONEY NULL,
    [UnitsInStock] SMALLINT NULL,
    [QuantitySold] INT NULL,
    [Image] NVARCHAR(MAX) NULL,
    [Description] NVARCHAR(MAX) NULL,
    [ReleaseDate] DATE NULL,
    [Discount] FLOAT NULL,
    [Status] BIT NOT NULL,

    CONSTRAINT FK_Products_Supplier FOREIGN KEY ([SupplierID])
        REFERENCES [dbo].[tblSuppliers] ([SupplierID])
        ON DELETE SET NULL ON UPDATE CASCADE,

    CONSTRAINT FK_Products_Category FOREIGN KEY ([CategoryID])
        REFERENCES [dbo].[tblCategories] ([CategoryID])
)
GO

-- Users Table
CREATE TABLE [dbo].[tblUsers] (
    [UserID] INT IDENTITY(1,1),
    [UserName] NVARCHAR(50) NOT NULL PRIMARY KEY,
    [FullName] NVARCHAR(50) NOT NULL,
    [Password] NVARCHAR(50) NOT NULL,
    [RoleID] NVARCHAR(50) NULL,
    [Email] NVARCHAR(50) NULL,
    [BirthDay] DATE NOT NULL,
    [Address] NVARCHAR(200) NULL,
    [Phone] NVARCHAR(11) NOT NULL,
    [Status] BIT NOT NULL
)
GO

-- Orders Table
CREATE TABLE [dbo].[tblOrders]( 
    [OrderID] INT IDENTITY(1,1) NOT NULL, 
    [Date] DATE NOT NULL, 
    [UserName] NVARCHAR(50) NOT NULL, 
    [TotalMoney] MONEY NULL, 
    [Status] BIT NOT NULL,
    CONSTRAINT [PK_Order] PRIMARY KEY ([OrderID]),
    CONSTRAINT [FK_Order_User] FOREIGN KEY ([UserName])
        REFERENCES [dbo].[tblUsers] ([UserName]) ON DELETE NO ACTION
)
GO

-- OrderDetails Table
CREATE TABLE [dbo].[tblOrderDetails]( 
    [OrderID] INT NOT NULL,  	
    [ProductID] INT NOT NULL, 
    [Quantity] FLOAT NOT NULL, 
    [UnitPrice] MONEY NULL,
    [Discount] FLOAT NULL,
    CONSTRAINT [PK_OrderDetail] PRIMARY KEY ([OrderID], [ProductID]),
    CONSTRAINT [FK_ProductDetail] FOREIGN KEY ([ProductID])
        REFERENCES [dbo].[tblProducts]([ProductID]) ON DELETE CASCADE,
    CONSTRAINT [FK_OrderDetail] FOREIGN KEY ([OrderID])
        REFERENCES [dbo].[tblOrders]([OrderID]) ON DELETE CASCADE
)
GO

-- Wallets Table
CREATE TABLE [dbo].[Wallets] (
    [WalletID] INT IDENTITY(1,1),
    [UserName] NVARCHAR(50),
    [Balance] DECIMAL(10, 2),
    CONSTRAINT [PK_Wallets] PRIMARY KEY ([WalletID]),
    CONSTRAINT [FK_Wallets_Users] FOREIGN KEY ([UserName])
        REFERENCES [dbo].[tblUsers]([UserName])
)
GO

-- Insert Wallet
INSERT INTO Wallets (UserName, Balance)
VALUES (N'admin', 2000000)
GO

-- Sample data for tblSuppliers
GO

-- Categories
INSERT INTO [dbo].[tblCategories] ([CategoryName]) VALUES 
(N'Fantasy'),
(N'Horror'),
(N'Science Fiction'),
(N'Manga - Comic')
GO

-- Users
INSERT INTO [dbo].[tblUsers] (
    [UserName], [FullName], [Password], [RoleID], [Email], [BirthDay], [Address], [Phone], [Status]
) VALUES
(N'admin', N'Administrator', N'1', N'AD', N'needaname005@gmail.com', '1990-01-01', N'TPHCM', '0123456789', 1),
(N'ce175533', N'Mai Thanh Quan', N'ct', N'MB', N'needaname005@gmail.com', '1999-05-15', N'TPHCM', '0987654321', 1);
GO

-- Products (added SupplierID = 1 as example for all)
GO
