USE [bookDB]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 7/22/2025 1:32:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 7/22/2025 1:32:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
	[UnitPrice] [money] NULL,
	[Discount] [float] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrders]    Script Date: 7/22/2025 1:32:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[TotalMoney] [money] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 7/22/2025 1:32:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProducts](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [smallint] NULL,
	[QuantitySold] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ReleaseDate] [date] NULL,
	[Discount] [float] NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSuppliers]    Script Date: 7/22/2025 1:32:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSuppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Phone] [nvarchar](24) NULL,
	[HomePage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 7/22/2025 1:32:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleID] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[BirthDay] [date] NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 7/22/2025 1:32:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[WalletID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Balance] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Wallets] PRIMARY KEY CLUSTERED 
(
	[WalletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCategories] ON 

INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Fantasy')
INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Horror')
INSERT [dbo].[tblCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Science Fiction')
SET IDENTITY_INSERT [dbo].[tblCategories] OFF
GO
INSERT [dbo].[tblOrderDetails] ([OrderID], [ProductID], [Quantity], [UnitPrice], [Discount]) VALUES (1, 15, 1, 150000.0000, 30)
GO
SET IDENTITY_INSERT [dbo].[tblOrders] ON 

INSERT [dbo].[tblOrders] ([OrderID], [Date], [UserName], [TotalMoney], [Status]) VALUES (1, CAST(N'2025-07-22' AS Date), N'se192676', 105000.0000, 1)
SET IDENTITY_INSERT [dbo].[tblOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProducts] ON 

INSERT [dbo].[tblProducts] ([ProductID], [ProductName], [Author], [SupplierID], [CategoryID], [UnitPrice], [UnitsInStock], [QuantitySold], [Image], [Description], [ReleaseDate], [Discount], [Status]) VALUES (1, N'Khóa Chặt Cửa Nào Suzume', N' Shinkai Makoto', 4, 9, 145000.0000, 10, NULL, N'https://i.postimg.cc/Y9mm8HG3/suzu.jpg', N'vv...', CAST(N'2023-09-01' AS Date), 0, 1)
INSERT [dbo].[tblProducts] ([ProductID], [ProductName], [Author], [SupplierID], [CategoryID], [UnitPrice], [UnitsInStock], [QuantitySold], [Image], [Description], [ReleaseDate], [Discount], [Status]) VALUES (2, N'86 - 1', N'Asato Asato', 4, 3, 145000.0000, 30, NULL, N'https://i.postimg.cc/1zY253M7/86vol01.jpg', N'vv...', CAST(N'2023-01-15' AS Date), 0, 1)
INSERT [dbo].[tblProducts] ([ProductID], [ProductName], [Author], [SupplierID], [CategoryID], [UnitPrice], [UnitsInStock], [QuantitySold], [Image], [Description], [ReleaseDate], [Discount], [Status]) VALUES (3, N'86 - 2', N'Asato Asato', 1, 3, 145000.0000, 25, NULL, N'https://i.postimg.cc/6qLN3N87/86vol02.jpg', N'vv...', CAST(N'2023-05-10' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[tblProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSuppliers] ON 

INSERT [dbo].[tblSuppliers] ([SupplierID], [CompanyName], [ContactName], [Country], [Phone], [HomePage]) VALUES (1, N'Global Books Ltd.', N'Anna Smith', N'USA', N'+1-555-1234', N'https://globalbooks.com')
INSERT [dbo].[tblSuppliers] ([SupplierID], [CompanyName], [ContactName], [Country], [Phone], [HomePage]) VALUES (2, N'Southeast Asia Publishing', N'Nguyen Van A', N'Vietnam', N'+84-24-88888888', N'https://seapub.vn')
INSERT [dbo].[tblSuppliers] ([SupplierID], [CompanyName], [ContactName], [Country], [Phone], [HomePage]) VALUES (3, N'EuroRead GmbH', N'Franz Müller', N'Germany', N'+49-89-123456', N'https://euroread.de')
SET IDENTITY_INSERT [dbo].[tblSuppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUsers] ON 

INSERT [dbo].[tblUsers] ([UserID], [UserName], [FullName], [Password], [RoleID], [Email], [BirthDay], [Address], [Phone], [Status]) VALUES (1, N'admin', N'Administrator', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b', N'AD', N'needaname005@gmail.com', CAST(N'1990-01-01' AS Date), N'TPHCM', N'0123456789', 1)
INSERT [dbo].[tblUsers] ([UserID], [UserName], [FullName], [Password], [RoleID], [Email], [BirthDay], [Address], [Phone], [Status]) VALUES (2, N'ce175533', N'Mai Thanh Quan', N'f8dcb34308e5c69f46a33cafa62bd922476b18c78a114eb144e34a5e374f7d60', N'MB', N'needaname005@gmail.com', CAST(N'1999-05-15' AS Date), N'TPHCM', N'0987654321', 1)
INSERT [dbo].[tblUsers] ([UserID], [UserName], [FullName], [Password], [RoleID], [Email], [BirthDay], [Address], [Phone], [Status]) VALUES (3, N'se192676', N'hung', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'MB', N'quochungle2005@gmail.com', CAST(N'2025-07-02' AS Date), N'', N'', 1)
SET IDENTITY_INSERT [dbo].[tblUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([WalletID], [UserName], [Balance]) VALUES (1, N'admin', CAST(2000000.00 AS Decimal(10, 2)))
INSERT [dbo].[Wallets] ([WalletID], [UserName], [Balance]) VALUES (2, N'se192676', CAST(95000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_OrderDetail]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetail] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProducts] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_ProductDetail]
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[tblUsers] ([UserName])
GO
ALTER TABLE [dbo].[tblOrders] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_Products_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[tblSuppliers] ([SupplierID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_Products_Supplier]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_Users] FOREIGN KEY([UserName])
REFERENCES [dbo].[tblUsers] ([UserName])
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_Users]
GO
